version: "1.0"
services:

  #  svc-admin-fe:
  #    build:
  #      dockerfile: Dockerfile
  #      context: ./svc-admin-fe
  #    container_name: medusa-svc-admin-fe
  #    depends_on:
  #      - postgres
  #    ports:
  #      - "8001:8000"
  #      - "9001:9000"
  #    tty: true
  #    environment:
  #      NODE_ENV: development
  #    networks:
  #      - medusa-net

  storefront:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    container_name: storefront
    depends_on:
      - backend
      - postgres
    ports:
      - "8000:8000"
    tty: true
    environment:
      NODE_ENV: development
    networks:
      - medusa-net

  backend:
    build:
      dockerfile: Dockerfile
      context: ./backend
    container_name: svc-admin
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9000:9000"
    tty: true
    environment:
      NODE_ENV: development
    networks:
      - medusa-net

  postgres:
    image: postgres:15.3-alpine3.18
    container_name: medusa-postgres
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecret
      POSTGRES_DB: medusa-docker
    networks:
      - medusa-net

networks:
  medusa-net:
