version: "1.0"
services:
  storefront:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    container_name: storefront
    depends_on:
      postgres:
        condition: service_healthy
      backend:
        condition: service_healthy
    volumes:
      - ./medusa-app:/app/medusa
      - medusa-app_node_modules:/app/medusa/node_modules
    ports:
      - "9001:9000"
      - "8001:8000"
    tty: true
    environment:
      NODE_ENV: development

  backend:
    build:
      dockerfile: Dockerfile
      context: ./backend
    container_name: svc-admin
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./medusa-svc-admin:/app/shop
    ports:
      - "9001:9000"
    tty: true
    healthcheck:
      test: [ "CMD", "curl", "curl localhost:9000/store/products" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      NODE_ENV: development

  postgres:
    image: postgres:15.3-alpine3.18
    container_name: medusa-postgres
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecret
      POSTGRES_DB: medusa-docker

volumes:
  medusa-app_node_modules:
  postgres_data:


